body{
    background-color: floralwhite;
    margin: 0;
    padding: 0;

}

#topSection{
    height: 80vh;
    width: 100%;
    border: green solid 4px;
    background-image: url(image/salsabar2.jpg);
    background-size: cover;
    background-position: center center;
    font-family: 'Grenze Gotisch', cursive;
}
#header{
    color: red;
    font-size: 1cm;
    font-size: 35px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}
#navigation{
    font-size: 45px;
    display: flex;
    justify-content: space-evenly;
    color:blue;
    font-family: 'Grenze Gotisch', cursive;
    
} 
#middleSection{
    height: 50vh;
    width: 100%;
    font-size: xx-large;
    text-justify: distribute-all-lines;
    color: black;
    background-image: url(image/barsalsatemple4.jpg);
    background-size: cover;
    background-position: right;
    border: green solid 4px;  
    font-family: 'Grenze Gotisch', cursive;
}
#bottomSection{
    height: 50vh;
    width: 100%;
    font-size: x-large;
    color: black;
    font-family: 'Grenze Gotisch', cursive;
    background-image: url(image/barsalsa3.jpg);
    background-size: cover;
    background-position: right;
    border:green solid 4px;   
}
