body{
    background-color: fuchsia;
    margin: 0;
    padding: 0;
    background-image: url(adriana2.jpg);
    background-size: cover;
    background-position: center ;
​}
​
#topSection{
    height: 20vh;
    width: 100%;
    border: green solid 4px;
    font-family: 'Grenze Gotisch', cursive;
}
#header{
    color: red;
    font-size: 1cm;
    font-size: 35px;
    border: honeydew solid;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}
#navigation{
    font-size: 45px;
    display: flex;
    border: goldenrod solid;
    justify-content: space-evenly;
    color:blue;
    font-family: 'Grenze Gotisch', cursive;
    } 
#middleSection{
    height: 40vh;
    width: 100%;
    font-size: xx-large;
    text-justify: distribute-all-lines;
    color: black;
    border: green solid 4px;  
    font-family: 'Grenze Gotisch', cursive;
}
#bottomSection{
    height: 40vh;
    width: 100%;
    font-size: x-large;
    color: black;
    font-family: 'Grenze Gotisch', cursive;
    border:green solid 4px;   
}
